<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,100,183,0.1) 100%, rgba(0,30,100,0.4) 53%), url(<%= image_path "cocktail6.png"%>);">
  <div class="banner-content">
    <h1>Martini's</h1>
    <p>Find your best cocktails</p>
    <a class="btn btn-primary btn-lg">Find your cocktail</a>
  </div>
</div>


<h2>All your cocktails</h1>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
    <% if cocktail.photo_url.nil? %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/dh46jpozr/image/upload/v1512142328/wkafbinqzkfooqq4ivmc.jpg')";>
        <% else %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>);">
    <% end %>
      <div class="card-category">
        <% if cocktail.ingredients.first %>
          <p> Main ingredient: <%= cocktail.ingredients.first.name %> </p>
        <% else %>
         <p> Does not have main ingredient </p>
         <% end %>
     </div>
      <div class="card-description">
        <h3><%= link_to cocktail.name, cocktail_path(cocktail), {:style=> 'color:#E0D3DE;' 'text-decoration:none'}%></h3>
      </div>
    </div>
    </div>
    <% end %>
  </div>
  <div class="add-cocktail">
  <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn-medium" %>
  </div>
</div>
